:root {
  --blue100: #17d4fb;
  --blue200: #1e2736;
  --blue300: #111b26;
  --gray100: #d1d1d1;
  --gray200: #66717e;
  --gray300: #999999;
  --gray400: #a5a5a5;
  --gray500: #555555;
  --gray600: #cccccc;
  --green100: #12d11b;
  --green200: #11cc1a;
  --green300: #02f2b4;
  --black: #070a0c;
  --white: #ffffff;
  --red: #f4460e;
  --primary-font: Roboto, sans-serif;
  --font-weight-bold: 700;
  --font-weight-semibold: 600;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
}